* {
    box-sizing:border-box;
}

html,
body,
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
    height: 8%;
    min-height: 50px;
    box-shadow: 0px 2px 5px 1px rgba(191,191,191,0.3);
    z-index: 101;
    background: #222;
    color: #FFF;
  }

h1 {
    font-size: 26px;
    margin: 10px 5px;
    display: inline-block;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px;
}

p {
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    text-align: center;
    padding: 5px 0;
    color: #F14D16;
    font-family: Helvetica, sans-serif;
}

li:hover {
    background-color: #F14D16;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #F94877;
}

input {
    margin: 15px 0 5px 15px;
    width: 80%;
    height: 40px;
    font-size: 16px;
    font-family: helvetica, sans-serif;
    color: #000;
    border: 1px solid #222;
    outline: none;
    text-align: left;
}

input:focus {
  border: 2px solid #F14D16;
}

#locations-menu {
    background: #222;
    border: 1px solid #222;
    border-radius: 0px 4px 4px 0px;
    height: 92%;
    padding: 10px 0px 30px 0px;
    width: 315px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

#search {
    width: 300px;
    height: 100%;
    background-color: #222;
    overflow: hidden;
}

#scroll-bar {
    height: 612px;
    overflow: scroll;
    margin: 2px;
}

.gm-style {
    text-align: center;
}

.fa-bars {
    margin: 10px 15px;
    color: #fff;
}

.fa-bars:hover {
    color: #F14D16;
}

.fa-foursquare {
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    #locations-menu {
        width: 40%;
        min-width: 150px;
    }

    #search {
        width: 98%;
    }
}    

@media screen and (max-width: 480px) {
    #reset-map {
        margin: 0;
    }

    h1 {
        font-size: 24px;
        margin-top: 10px;
    }

    .fa-bars {
        margin: 10px 5px;
    }
}

